@import "tailwindcss";

@theme {
  --color-brand-primary: #006D3E;
  --color-brand-secondary: #E5E7EB;
  --color-brand-inverted: #2D3748;
  --color-brand-background: #F9FAFB;
  --color-brand-surface: #FFFFFF;
}

:root {
  --background: var(--color-brand-background);
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), "Inter", sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
